<div class="flex items-center justify-center space-x-3">
  
  <% if post == Post.all_posts.first %>
    <!-- 最初の投稿の場合 -->
    <div class="flex-1">
      <%= render "posts/index_post/first_post_content", post: post %>
    </div>
  <% else %>
    <div class="flex-1">
      <%= render "posts/index_post/post_content", post: post %>
    </div>
  <% end %>

</div>

