<!-- 投稿が最初の投稿でない場合 -->
<div class="flex items-center justify-center space-x-3">
  <% if from_post_index %>
    <div class="text-gray-500">
      <!-- 左矢印アイコン -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
    </div>
  <% end %>

  <% if post == Post.all_posts.first %>
    <!-- 最初の投稿の場合 -->
    <div class="flex-1">
      <%= render partial: "posts/first_post_content", locals: { post: post } %>
    </div>
  <% else %>
    <div class="flex-1">
      <%= render partial: "posts/post_content", locals: { post: post } %>
    </div>
  <% end %>

</div>

