<% content_for :title, "Editing post" %>

<h1 class="text-xl font-semibold text-gray-900 mb-6">Edit Post</h1>
<%= render "form", post: @post %>

<br>

<div class="mt-9">
  <%= link_to "Return to post", post_path(@post), class: "inline-block rounded-lg border bg-white px-4 py-2 text-center text-sm font-semibold text-gray-700 ring-indigo-300 transition duration-100 hover:bg-gray-100 focus-visible:ring md:px-8 md:py-3 md:text-base" %>
</div>
