<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">

    <p class="mb-5 kaisei-decol-regular mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">
    好きなものの写真を投稿して、しりとりを楽しもう！</p>
    <p class="mb-5 kaisei-decol-regular mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">
    同じ写真じゃなければ、同じ対象でもOK</p>
    <p class="mb-5 kaisei-decol-regular mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">
    キャラ・人・モノ・場所・食べ物など、なんでも投稿してね！</p>
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <% if user_signed_in? %>
        <%# 新規投稿フォーム %>
        <div class="bg-indigo-200 rounded-lg shadow-sm border border-gray-200 mb-12">
          <div class="p-6">
            <h2 class="text-xl font-semibold text-gray-900 mb-6">Create New Post</h2>
            <div id="new_post">
              <%= render "form", post: @post%>
            </div>
          </div>
        </div>
      <% else %>
        <div class="bg-indigo-200 rounded-lg shadow-sm border border-gray-200 mb-12">
          <div class="p-6">
            <h2 class="text-xl font-semibold text-gray-900 mb-6">Please sign in to post</h2>
            <div class="flex justify-center">
              <%= link_to "Sign in", new_user_session_path, class: "px-4 py-2 bg-indigo-500 text-white rounded-md" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- text - end -->

    <div id="posts" class="grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-8">
      <!-- article - start -->
      <% @posts.each do |post| %>
        <%= render partial: "posts/post", locals: { post: post } %>
      <% end %>
    </div>

  </div>
</div>

<%= turbo_stream_from "posts_likes_channel" %>
